 body{
    background-color: coral;
  }
  
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: rgb(253, 59, 0);
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 7px 163px;
      text-decoration: none;
    }
    
    /* Change the link color to #111 (black) on hover */
    li a:hover {
      background-color: rgb(143, 201, 49);
    }
    .active {
      background-color:  rgb(250, 193, 4);
    }
    /*IMG of me center*/
  img {
    position: absolute;
    border-radius: 25px;
    margin-left: 400px;
    margin-right: 300px;
  }

/*center head text*/
.center {
  text-align: center;
}

