 body{
    background-color: coral;
  }
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(253, 59, 0);
  }
    
li {
    float: left;
  }
    
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 100px;
    text-decoration: none;
  }
    
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgba(255, 208, 0, 0.315);
  }
.active {
  background-color:  rgb(250, 193, 4);
}

/*IMG of me center*/
.pfpimg {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  }

.red {
  text-decoration-color: red;
}

/*center head text*/
.center {
  text-align: center;
}

.flex{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

#coolsidetext{
  text-align: left;
}

.bigBoiefont{
    font-size: 20px;
}

.interests {
  display: flex;
  justify-content: space-around;
}

/*borderradius*/
.roundedCorners {
  border-radius: 10px;
}